.search-toggle-li .icon-magnifier:before {
    font-weight: 700;
  }
  p {
    margin-bottom: 0;
  }
  /* .owp-qv-container {
    padding-top: 134px;
  } */
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0px;
  }
  /* Hero Title */
  .elementor-element.hero-title .elementor-widget-container {
    display: inline-block;
  }
  
  /* Newsletter */
  .newsletter-shortcode {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
  }
  .newsletter-shortcode form input {
    text-align: center;
    width: 100% !important;
    max-width: 800px;
  }
  /* .newsletter-shortcode form [type="submit"]:hover{
      border: none !important;
      background-color: #1E2F42 !important;
  } */
  
  /* Footer Callout */
  .store-callout .icon-box-icon,
  .store-callout .icon-box-heading {
    display: table-cell;
    vertical-align: middle;
  }
  .store-callout .icon-box-icon {
    height: 1em;
    width: 1em;
    line-height: 1em;
  }
  .store-callout .icon-box-icon i {
    color: #5b4f4f;
    font-size: 34px;
    margin-right: 15px;
  }
  .store-callout .icon-box-heading {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
  #wpadminbar {
    z-index: 9999999;
  }
  .products.oceanwp-row .image-wrap img {
    width: 100%;
  }
  
  /* form */
  .contact-form .wpforms-form .wpforms-field {
    padding: 0 0 20px !important;
  }
  .contact-form .wpforms-form .wpforms-field input,
  .newsletter-shortcode .wpforms-form .wpforms-field input {
    width: 100%;
    max-width: 100% !important;
    border: 1px solid #a9acc0 !important;
    border-radius: 10px !important;
    height: 60px !important;
    padding: 16px !important;
  }
  .contact-form .wpforms-form .wpforms-field input:hover,
  .contact-form .wpforms-form .wpforms-field textarea:hover,
  .contact-form .wpforms-form .wpforms-field input:focus,
  .contact-form .wpforms-form .wpforms-field textarea:focus {
    border-color: #01b97b !important;
  }
  .contact-form .wpforms-form .wpforms-field textarea {
    width: 100%;
    max-width: 100% !important;
    border: 1px solid #a9acc0 !important;
    padding: 16px !important;
    border-radius: 10px !important;
  }
  .contact-form .wpforms-form [type="submit"],
  .newsletter-shortcode .wpforms-form [type="submit"] {
    font-size: 18px !important;
    background-color: #01b97b !important;
    padding: 18px 30px 18px 30px !important;
    border-radius: 10px !important;
    border: none !important;
    cursor: pointer !important;
  }
  .contact-form .wpforms-form [type="submit"]:hover,
  .newsletter-shortcode .wpforms-form [type="submit"]:hover {
    background-color: #007c52 !important;
  }
  
  .contact-form .wpforms-form .wpforms-submit-container {
    text-align: right;
  }
  
  @media screen and (max-width: 767px) {
    .store-callout .icon-box-icon {
      display: none;
    }
    .store-callout .icon-box-heading {
      display: block;
      text-align: center;
    }
    .hero-section .elementor-background-overlay {
      background-color: #82c1e0;
    }
  }
  
  /* Footer Borders */
  #footer-widgets .contact-info-widget i,
  #footer-widgets .oceanwp-recent-posts li,
  #footer-widgets .social-widget li a,
  #footer-widgets .woocommerce ul.product_list_widget li {
    border-color: rgba(255, 255, 255, 0.2);
  }
  
  /* Footer Products */
  #footer-widgets .price del,
  #footer-widgets del .amount {
    color: #ddd;
  }
  
  /* Footer Tags */
  #footer-widgets .tagcloud a {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  #footer-widgets .tagcloud a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.2);
  }

  
.woocommerce ul.products.list li.product .woo-entry-inner li.image-wrap{
    max-width: 25%;
}
.single-product main.site-main{
    padding-top: 115px;
}

.single-product.woocommerce div.product div.images, 
.single-product.woocommerce.content-full-width div.product div.images{
    text-align: center;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.02);
}
.single-product.woocommerce div.product div.summary, 
.single-product.woocommerce.content-full-width div.product div.summary{
    padding-left: 30px;
}
.owp-qv-container {
    padding: 0;
    margin-top: 30px;
    overflow-y: scroll;
    height: calc(100vh - 60px);
}
.owp-qv-container .woocommerce.single-product{
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,.02);
}
.owp-qv-content-inner{
    margin: 0 30px;
}
.mbm-grid-4 .woocommerce > .products{
    display: grid;
    gap:30px;
    grid-template-columns: repeat(12, 1fr);
}

.mbm-grid-4 .woocommerce > .products > .product > .product-inner{
    padding: 10px 10px 20px ;
    height: 100%;
}
.mbm-grid-4 .woocommerce > .products > .product > .product-inner .woo-entry-inner li.image-wrap{
    /* min-height:301px; */
    padding: 10px;
    display: flex;
    background-color: #fff;
}
.mbm-grid-4 .woocommerce > .products > .product > .product-inner .woo-entry-inner li.image-wrap .woo-entry-image{
    margin:auto;
}
.mbm-grid-4 .woocommerce > .products > .col{
    grid-column: auto/span 12;
    width: 100% !important;
    margin: 0;
    padding: 0;
}
.owp-qv-container .woocommerce span.onsale,
.mbm-grid-4 .woocommerce span.onsale{
    top:10px !important;
    left: 10px !important;
}
@media screen and (min-width: 500px) {
    .mbm-grid-4 .woocommerce > .products > .col{
        grid-column: auto/span 6;
    }
}
@media screen and (min-width: 768px) {
    .mbm-grid-4 .woocommerce > .products > .col{
        grid-column: auto/span 4;
    }
}
@media screen and (min-width: 1025px) {
    .mbm-grid-4 .woocommerce > .products > .col{
        grid-column: auto/span 3;
    }
}
@media screen and (max-width: 500px) {
    #owp-qv-wrap .summary,
    .single-product.woocommerce div.product div.images, 
    .single-product.woocommerce.content-full-width div.product div.images{
        padding: 10px;
    }
}